<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <div class="sobre-container">
    <h2>Bem-vindos ao AcheAki</h2>
    <p class="descricao"></p>
    <p>
      Bem-vindo ao AcheAki, seu destino confiável para produtos de qualidade!
      Nossa missão é oferecer uma experiência de compra excepcional, trazendo
      uma seleção cuidadosamente escolhida de itens que atendem às suas
      necessidades e desejos. Fundada em 2010, temos trabalhado incansavelmente
      para garantir que nossos clientes tenham acesso aos melhores produtos do
      mercado.
    </p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nossos Valores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Valorizamos a qualidade, a diversidade e a satisfação do cliente. Nossa
        equipe está sempre pronta para ajudá-lo a encontrar o que você precisa,
        seja por meio de recomendações personalizadas ou esclarecendo suas
        dúvidas sobre nossos produtos.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nossos Missão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Acreditamos em construir relacionamentos duradouros com nossos clientes
        e estamos sempre abertos a feedbacks para melhorar nossos serviços.
        Explore nosso site e descubra a variedade de produtos que temos a
        oferecer. Estamos ansiosos para tê-lo como parte da nossa comunidade!
      </ion-card-content>
    </ion-card>

    <p class="call-to-action">
      Explore nosso site e descubra a variedade de produtos que temos a
      oferecer. Estamos ansiosos para tê-lo como parte da nossa comunidade!
    </p>

    <ion-button expand="block" routerLink="/produto">
      Ver Produtos
    </ion-button>
  </div>
</ion-content>
