.produto-card {
  width: 300px; 
  margin: 16px auto;
  position: relative; 
  border: solid rgba(174, 174, 174, 0.736);

  div{
    display: flex;
    justify-content: center;
  } 

  ion-img {
    padding: 30px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }

  .favoritar-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 30px; /* Tamanho maior para o ícone */
    cursor: pointer;
  }

  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ion-button {
      margin-top: 8px;
      --background: #4a7c74;
      --background-activated: #3d695f;
      --color: white;
    }
  }
}
