ion-header{
  --background : #8fb2a8d0; 
  color: white;
  ion-title{
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
  }

}

ion-content {
  --ion-background-color: #0a685dd1;
  color: #333;
}

h2{
  font-size: 2rem;
  color: white;

  margin-bottom: 1rem;
}

p{
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

ion-button{
  --background: #4a7c74;
  --bacground-activated:#3d695f;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 8px;

}
